*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.message span {
    cursor: pointer;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.warning {
    background-color: #ff9800;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    justify-content: flex-end;
}

.heading h1 {
    color: #333;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.infomation {
    display: flex;
    width: 100%;
}

.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

.image {
    display: flex;
    justify-content: end;
    
}
.image img{
    border-radius: 66%;
    margin-right: 15%;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: black;
}