* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.message span {
    cursor: pointer;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.warning {
    background-color: #ff9800;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 1%;
    padding: 1%;
    border-radius: 1%
}

.loginform {
    width: 60%;
}

.signupform,
.loginform {
    background-color: aqua;
    padding: 1%;
}

.signupform {
    width: 100%;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.heading h1 {
    margin-left: 2%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 1%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #008CBA;
}

button:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}