{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    
</head>

<body>
    <div class="message">
        {% for message in messages %}
        <div class="alert {{message.tags}}">
            <strong>Message: </strong> {{message}}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endfor %}
    </div>
    <div class="main">
        {% for info in info %}
        <div class="heading">
            <h1>Welcome Back {{ info.first_name }} {{ info.last_name }}</h1>
            <p><a href="/logout">logout</a></p>
        </div>
        <div class="infomation">
            <div class="infoBox">
                <b>
                    <h3>Username: {{ info.username }}</h3>
                    <p>Email: {{ info.email }}</p>
                    <p>User is: {{ info.user_type }}</p>
                    <p>Address: {{ info.address_line1 }}, {{ info.city }}, {{ info.state }} - {{ info.pincode }}</p>
                </b>
                </div>
            <div class="image">
                <img src="{{ info.profile_picture.url }}" alt="Profile Picture" width="20%">
            </div>
                


        </div>
    </div>
    {% endfor %}
    <script>
        var messages = document.querySelectorAll('.message .alert')
      
      messages.forEach(function (message) {
        setTimeout(function () {
          message.style.display = 'none'
        }, 5000)
      })
    </script>
</body>

</html>